<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>88334176996-i18soavde5fhsfc7m04rpbsau3766au0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.88334176996-i18soavde5fhsfc7m04rpbsau3766au0</string>
	<key>API_KEY</key>
	<string>AIzaSyAtNF_DZWFaN847gJajEXrXfWpDXWN8Bwo</string>
	<key>GCM_SENDER_ID</key>
	<string>88334176996</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uz.laziyofat.restaurant.uz.laZiyofatRestaurant</string>
	<key>PROJECT_ID</key>
	<string>la-ziyofat-restaurant</string>
	<key>STORAGE_BUCKET</key>
	<string>la-ziyofat-restaurant.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:88334176996:ios:4cd20387b1dbc716d592f1</string>
</dict>
</plist>